<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
<meta content="width=device-width, initial-scale=1" name="viewport"></meta>

<meta content="" name="description"></meta>
<meta content="" name="author"></meta>  

<title>Wikipedia Search:  a hadoop/cassandra/angular demo</title>
  
<!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
<link rel="stylesheet" href="narrow.css">

<script src="search.js"></script>

</head>
<body>
  <div ng-app class="container">
  

  <div class="header">
      <ul class="nav nav-pills pull-right">
          <li><a href="http://www.linkedin.com/in/natalinobusa">Natalino Busa</a></li>
        </ul>
        <h3 class="text-muted">Wikipedia search</h3>
</div>
      
<div ng-controller="SearchCtrl">
  <div class="row searchbox">
        <div class="col-xs-4">
          <input type="text" ng-model="searchText" ng-change="search()" placeholder="write your search term here" class="form-control">
        </div>
  </div>

  <div class="row searchresults">
    <ul class="list-unstyled">
      <li ng-repeat="result in searchResults">
        <a href="{{result.url}}">
            <h4>{{result.title}}</h4>
            <p>{{result.abstract}}</p>
        </a>    
      </li>
    </ul>
  </div>
</div>

<div class="footer">
        <p>Kudos to <a href="http://en.wikipedia.org">wikipedia</a> for sharing the knowledge and the data!</p>
      </div>

</div>

  
</body>


</html>
